.site__footer__inner
  .site__footer__links-panel
    nav
      h2 Navigation
      ul
        li: a(href="/") Accueil
        li: a(href="/src/pages/templates.pug") Templates
        li: a(href="/src/pages/about.pug") À propos
        li: a(href="/src/pages/contact.pug") Contact
    nav
      h2 Réseaux sociaux
      ul
        li: a(href="https://github.com/") Github
        li: a(href="https://twitter.com") Twitter
        li: a(href="https://www.instagram.com") Instagram
  p.site__footer__copyright.
    © 2022 - Philippe Sthely - Tous droits réservés

