.site__header__inner
  a.site__header__title(href="/") Titre
  nav
    ul
      li: a(href="/") Accueil
      li: a(href="/src/pages/templates.pug") Templates
      li: a(href="/src/pages/about.pug") À propos
      li: a(href="/src/pages/contact.pug") Contact

