extends layouts/baseof.pug

block title
  title Bootstrap w/ Parcel - Accueil

block content
  .markdown
    include:markdown-it ../content/index.md
  .card
    h2.card__title: a(href="/src/pages/posts/lorem_ipsum.pug") Lorem ipsum
    p.card__meta 28 septembre 2022
    a(href="/src/pages/posts/lorem_ipsum.pug")
      img.card__image(src="/assets/images/lorem_ipsum.jpg?width=767" alt="Cuisine laotienne")
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
  .card
    h2.card__title: a(href="#") Dolor sit amet
    p.card__meta 28 septembre 2022
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
      Proin vitae sem nec elit tempor sodales. Proin ligula mi, pharetra rhoncus fermentum
      convallis, sagittis molestie eros. Nunc vitae metus non elit porta rutrum. Aenean
      ullamcorper quam et ultrices sagittis.
  .card
    h2.card__title: a(href="#") Consectetur adipiscing elit
    p.card__meta 28 septembre 2022
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
      Proin vitae sem nec elit tempor sodales. Proin ligula mi, pharetra rhoncus fermentum
      convallis, sagittis molestie eros. Nunc vitae metus non elit porta rutrum. Aenean
      ullamcorper quam et ultrices sagittis. Sed ut enim quis ante tempus interdum. Quisque
      bibendum aliquam odio, non hendrerit lorem porta sed.
  .card
    h2.card__title: a(href="#") Pellentesque id
    p.card__meta 28 septembre 2022
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
      Proin vitae sem nec elit tempor sodales. Proin ligula mi, pharetra rhoncus fermentum
      convallis, sagittis molestie eros. Nunc vitae metus non elit porta rutrum.
  .card
    h2.card__title: a(href="#") Bibendum purus
    p.card__meta 28 septembre 2022
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
      Proin vitae sem nec elit tempor sodales. Proin ligula mi, pharetra rhoncus fermentum
      convallis, sagittis molestie eros. Nunc vitae metus non elit porta rutrum. Aenean
      ullamcorper quam et ultrices sagittis. Sed ut enim quis ante tempus interdum.

