extends layouts/baseof.pug

block title
  title Bootstrap w/ Parcel - Accueil

block content
  .markdown
    include:markdown-it ../content/index.md
  .card
    h2.card__title: a(href="/src/pages/posts/lorem_ipsum.pug") Alexandre Grothendieck
    p.card__meta 3 octobre 2022
    a(href="/src/pages/posts/lorem_ipsum.pug")
      img.card__image(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Alexander_Grothendieck.jpg/220px-Alexander_Grothendieck.jpg" alt="Alexandre Grothendieck")
    p.card__text.
      Alexandre Grothendieck, né Alexander Grothendieck (prononcé en allemand : /ˌalɛˈksandɐ ˈɡroːtn̩diːk/), est un mathématicien français, né le 28 mars 1928 à Berlin et mort le 13 novembre 2014 à Saint-Lizier, près de Saint-Girons (Ariège). Il est resté longtemps apatride tout en vivant principalement en France ; il a acquis la nationalité française en 1971.
  .card
    h2.card__title: a(href="#") Dolor sit amet
    p.card__meta 28 septembre 2022
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
      Proin vitae sem nec elit tempor sodales. Proin ligula mi, pharetra rhoncus fermentum
      convallis, sagittis molestie eros. Nunc vitae metus non elit porta rutrum. Aenean
      ullamcorper quam et ultrices sagittis.
  .card
    h2.card__title: a(href="#") Consectetur adipiscing elit
    p.card__meta 28 septembre 2022
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
      Proin vitae sem nec elit tempor sodales. Proin ligula mi, pharetra rhoncus fermentum
      convallis, sagittis molestie eros. Nunc vitae metus non elit porta rutrum. Aenean
      ullamcorper quam et ultrices sagittis. Sed ut enim quis ante tempus interdum. Quisque
      bibendum aliquam odio, non hendrerit lorem porta sed.
  .card
    h2.card__title: a(href="#") Pellentesque id
    p.card__meta 28 septembre 2022
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
      Proin vitae sem nec elit tempor sodales. Proin ligula mi, pharetra rhoncus fermentum
      convallis, sagittis molestie eros. Nunc vitae metus non elit porta rutrum.
  .card
    h2.card__title: a(href="#") Bibendum purus
    p.card__meta 28 septembre 2022
    p.card__text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id bibendum purus.
      Proin vitae sem nec elit tempor sodales. Proin ligula mi, pharetra rhoncus fermentum
      convallis, sagittis molestie eros. Nunc vitae metus non elit porta rutrum. Aenean
      ullamcorper quam et ultrices sagittis. Sed ut enim quis ante tempus interdum.

