doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block title
      title "Bootstrap w/ Parcel"
    link(rel="stylesheet" href="/src/scss/main.scss")
    script(type="module" src="/src/js/main.js")
  body
    .site
      header.site__header
        include ../components/site__header.pug
      main.site__main
        .site__main__inner
          block content
      footer.site__footer
        include ../components/site__footer.pug

